*, *:before, *:after{ 
    box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
} 
.bar-1{ 
    position: absolute;
    display: inline-block;
    top: 75px;
    left: 90px;
    right: 100px;
    height: 25px;
    width: 400px;
    background-color: #E8E8E8;
    border-radius: 11px;
    -webkit-transform: skew(0deg);
    transform: skew(0deg);
    border-left: 11px transparent;
}

.bar-2{ 
    position: absolute;
    display: inline-block;
    top: 150px;
    left: 90px;
    right: 100px;
    height: 25px;
    width: 200px;
    background-color: #E8E8E8;
    border-radius: 11px;
    -webkit-transform: skew(0deg);
    transform: skew(0deg);
    border-left: 11px transparent;
}

.bar-3{ 
    position: absolute;
    display: inline-block;
    top: 225px;
    left: 90px;
    right: 100px;
    height: 25px;
    width: 100px;
    background-color: #E8E8E8;
    border-radius: 11px;
    -webkit-transform: skew(0deg);
    transform: skew(0deg);
    border-left: 11px transparent;
}