/*////////typography ////////*/

@font-face{

	font-family:"Brandon_reg";
	src: url(../fonts/Brandon_reg.otf);
}
@font-face{

	font-family:"Brandon_light";
	src: url(../fonts/Brandon_light.otf);
}


h1{
	font-family: "Brandon_light";
	font-size: 50px;
	font-style: normal;
	text-align: center;	
}

h2{
  font-family: "Brandon_light";
  font-size: 30px;
  font-style: normal;
  text-align: center;
}

p{  font-family: "Brandon_light";
  font-size: 40px;
  font-style: normal;
  text-align: center;
}

/*////intro canvas animation/////*/
#intro-overlay{
  background: #dff9ff;
  border-radius: 50%;
  width: 400px;
  height: 400px; 
  z-index: 100;

}

#intro-overlay img{
  width:300px;
  margin-left: auto;
  margin-right: auto;
  margin-top:43%;
}

#canvas {
    height: 100% ;
    left: 0px ;
    position: fixed ;
    top: 0px ;
    width: 100% ;
    z-index: 100 ;
    }

#percentLabel {
    
    border-radius: 25px 25px 25px 25px ;
    -moz-border-radius: 25px 25px 25px 25px ;
    color: #FFFFFF ;
    font-size: 14px ;
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 400px;
    height: 400px;
    margin: auto;
    text-align: center ;
    z-index: 200 ;
    }



/*/////////about follow overlays///////////*/
#about-overlay {
  width:100%;
  height: 100%;
  position:fixed;
  display:none;
  background: #000;
  z-index: 100;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.description{
  position:relative;
  margin: 0 auto;
  top:30%;
  color:white;
  width: 700px;
  height: 500px;
  z-index: 200;
}

#follow-overlay{
  width:100%;
  height: 100%;
  position:fixed;
  display:none;
  background: #000;
  z-index: 100;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.instagram{
  position: fixed;
  display: inline;
  margin: 0 auto;
  left: 48%;
  top: 46%;
  color:#fff;

}
.close{
  position:fixed;
  top:20px;
  right:20px;
  color:#fff;
}





/*////////main styling ////////*/
body{

	width: 960px;
  margin:0 0 0 0;
  margin-bottom: 0px;
  background: #fff;
}

.caption{
    font-family: "Brandon_light";
    font-size: 50px;
    font-style: bold;
    text-align: center;
    position: relative;
    color:#ffffff;
    right: -10%;
    top: 600px;
}




/*////////header////////*/
#header {
    display: block;
    width: 100%;
    height:100px;
    z-index: 50;
    position: fixed;
    background: #000000;
}

#logo{
  width: 300px;
  margin: 0 auto;
  margin-top: 28px;
}

#about{
  position: fixed;
  font-size: 10px;
  text-decoration: none;
  color: #ffffff;
  left:20px;
  top:0px;
  background-color: none;
  display:inline-block;
}

#follow{
  position: fixed;
  font-size: 10px;
  text-decoration: none;
  color: #ffffff;
  right:20px;
  top:0px;
  display:inline-block;
}


/*////////carousal////////*/

.frame {
  width:100vw;
  height:100%;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.tray {
  height: 1080px;
  position: relative;

}
  
.slide {

  float: left;
  width: 1080px;
  height: 1080px;

}

/*.slide img, .slide iframe, .slide table, .slide video, .slide audio {
  width: 100%;
  max-width: 100%;
}*/

.prev, .next {
  position: absolute;
  top: 49%;
  color:#ffffff;
}
.prev { 
  left: 20px; 
  position:fixed;}
.next { 
  right: 20px;
  position:fixed; }

a.icon1 {
  position: relative;
  display: block;
  top: 720px;
  left: 110px;
  height: 34px;
  width: 75px;
  background: url(../images/fun_sprite.png) no-repeat;
}

a.icon2 {
  position: relative;
  display: block;
  top: 750px;
  left: 110px;
  height: 34px;
  width: 79px;
  background: url(../images/heartpump_sprite.png) no-repeat;
}

a.icon3 {
  position: relative;
  display: block;
  top: 780px;
  left: 110px;
  height: 43px;
  width: 76px;
  background: url(../images/time_sprite.png) no-repeat;
}




a.icon1:hover{
  background-position: 0px -34px;
}





  



