/*////////typography ////////*/

@font-face{

	font-family:"Brandon_reg";
	src: url(../fonts/Brandon_reg.otf);
}
@font-face{

	font-family:"Brandon_light";
	src: url(../fonts/Brandon_light.otf);
}


h1{
	font-family: "Brandon_light";
	font-size: 50px;
	font-style: normal;
	text-align: center;
	
}

/*////intro canvas animation/////*/

#canvas {
    height: 100% ;
    left: 0px ;
    position: fixed ;
    top: 0px ;
    width: 100% ;
    z-index: 100 ;
    }

#percentLabel {
    background-color: #ffffff ;
    border-radius: 50%;
    width: 200px;
    height: 200px; 

    color: #666666 ;
    font-size: 25px ;
    font-family: "Brandon_light";
    left: 50% ;
    position: fixed;
    text-align: center;
    top: 50% ;
    z-index: 200 ;
}





/*////////main styling ////////*/

#today{
	
}

body{

	width: 960px;
	margin: 0 auto;
}



/*////////layout ////////*/

/*////////carousal ////////*/
.carousal{
	width: 60%;
	margin: 0 auto;
}


  



